body{
    position: relative;
    margin: 0%;
    padding: 0%;
    background-image: url("home_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

#home_nav_bar{
    display: flex;
    background-color: black;
}

#home_nav_bar ul {
    display: flex;
    list-style-type: none;
    margin: 2% 2%; 
    width: 100%;
    height: 100%;
}

#home_nav_bar ul li{
    color: white;
    text-align: center;
    margin: 0% 2%;

    /* width: 100%;
    height: 100%; */
}

#home_nav_bar ul li:hover{
    color: grey;
    cursor: pointer;
}

.details_box{
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-left: 2%;
    width: 30%;
}

.details_box label{
    margin-top: 5%;
    margin-left: 42%;
}

.details_box input{
    width:50%;
    margin-left: 42%;
}

.details_box button{
    margin-top: 5%;
    margin-left: 35%;
}

.details_box button:hover{
    background-color: grey;
}

a{
    text-decoration: none;
    color: white;
}