html{
    background-color: lightcoral;
}

h1{
    text-align: center;
    color: yellow;
}

.container{
    background-color: yellow;
    display: flex;
    width: 50%;
    margin-left: 25%;
}

.input_task{
    padding:1%;
    margin: 1%;
    width: 80%;
}

.Add_button{
    padding: 1%;
    margin: 1%;
    width: 15%;
}

.list_box{
    background-color: lightgoldenrodyellow;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: 25%;
}

.list_box li{
    width: 90%;
    margin-top: 3%;
    color: lightcoral;

}

.list_box li span {
    border: 2px solid lightcoral;
    display: inline-block;
    width: 80%;
}

.list_box li button{
    display: flex;
    color: red;
    position: relative;
    float: right;
}


